table {
    width: 100%;
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    margin: 20px;
    margin-right: 10px;
    width: 90%;
}

td, th {
    width: 25%;
    cursor: pointer;
}

mat-button-toggle-group{
    width: 100%;
}
